# Configuración de la Base de Datos PostgreSQL
POSTGRES_DB=nombre_db
POSTGRES_USER=user_db
POSTGRES_PASSWORD=passw_db
POSTGRES_PORT=5432
# Configuración de Django
DJANGO_PORT=8000
DJANGO_SUPERUSER_USERNAME=superusuario
DJANGO_SUPERUSER_PASSWORD=superusuario_password
DJANGO_SUPERUSER_EMAIL=superusuario@example.com